.popup__btn-close {
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 3;
  top: -40px;
  right: -40px;
  background-image: url("../../../images/Close Icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

@media screen and (max-width: 980px) {
  .popup__btn-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
