.popup__title {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

@media screen and (max-width: 980px) {
  .popup__title {
    font-size: 18px;
    line-height: 21.78px;
  }
}
