.profile__subtitle {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  grid-area: subtitle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  line-height: 22px;
  max-width: 294px;
}

@media screen and (max-width: 980px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    max-width: 228px;
  }
}
