.footer__copytight {
  margin: 0;
  color: #545454;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 980px) {
  .footer__copytight {
    font-size: 14px;
    line-height: 17px;
  }
}
