.popup__image-text_type_info {
    margin: 0;
    background-color: rgba(255,255,255);
    color:black;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    max-width: 358px;
    text-align: center;
}
