.profile__btn-edit {
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
  background-image: url("../../../images/edit-btn.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  grid-area: btn-edit;
  align-self: center;
  margin: 0 0 32px 0;
  height: 24px;
  width: 24px;

}

@media screen and (max-width: 980px) {
  .profile__btn-edit {
    margin: 2px 0 0;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
