.header__burger-menu {
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    .header__burger-menu {
        display: flex;
        width: 0;
        height: 0;
        flex-direction: column;
        gap: 14px;
        justify-content: center;
        align-items: center;
    }

    .header__burger:after,
    .header__burger:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        left: 0;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}
