.header__burger-menu_active {
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    .header__burger-menu_active {
        padding: 40px 0;
        visibility: visible;
        width: 100%;
        height: 100%;
    }
}

.header__burger_active:after {
    transform: rotate(-45deg);
    top: 10px;
}
.header__burger_active:before {
    transform: rotate(45deg);
    bottom: 10px;
}
