@import url(./vendor/fonts/fonts.css);
@import url(./blocks/button/button.css);
@import url(./blocks/no-highlight/no-highlight.css);
@import url(./blocks/opacity/opacity.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__footer-info/register__footer-info.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/list/list.css);
@import url(./blocks/scale-animation/scale-animation.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__input-group/form__input-group.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__submit/form__submit.css);
@import url(./blocks/form/__submit/_disabled/form__submit_disabled.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_type/popup_type_authorization.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__btn-close/popup__btn-close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_type/popup__from_type_delete-card.css);
@import url(./blocks/popup/__input-group/popup__input-group.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input/_type/popup__input_type_delete-card.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__btn-save/popup__ntb-save.css);
@import url(./blocks/popup/__btn-save/_disabled/popup__btn-save_disabled.css);
@import url(./blocks/popup/__btn-save/_type/popup__btn-save_type_delete-card.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image/_type/popup__image_type_info.css);

@import url(./blocks/popup/__image-text/popup__image-text.css);
@import url(./blocks/popup/__image-text/_type/popup__image-text_type_info.css);

@import url(./blocks/popup/__figure/popup__figure.css);
@import url('./blocks/popup/__figure/_type/popup__figure_type_info.css');

@import url(./blocks/content/content.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__burger/header__burger.css);
@import url(./blocks/header/__login-info/header__login-info.css);
@import url(./blocks/header/__burger-menu/header__burger-menu.css);
@import url(./blocks/header/__burger-menu/_active/header__burger-menu_active.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/log-in-out/log-in-out.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__overlay/profile__overlay.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__btn-edit/profile__btn-edit.css);
@import url(./blocks/profile/__btn-add/profile__btn-add.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__delete-btn/cards__delete-btn.css);
@import url(./blocks/cards/__container/cards__container.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__title-zone/cards__title-zone.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__like-btn/cards__like-btn.css);
@import url(./blocks/cards/__like-btn/_active/cards__like-btn_active.css);
@import url(./blocks/cards/__like-zone/cards__like-zone.css);
@import url(./blocks/cards/__like-counter/cards__like-counter.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
