.header {
    box-sizing: border-box;
    max-width: 880px;
    width: 68.75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    .header {
        width: 100%;
    }
}

.header span {
    width: 100%;
    background-color: white;
    height: 4px;
}
