.form__input {
    all: unset;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 16.94px;
}

/* input:-internal-autofill-selected {
    border: none;
    outline: none;
    margin: 0;
    padding: 7px 0;
}

input:auto-fill {
    background-color: blue;
} */

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 40rem black inset;
}
