.profile__btn-add {
  align-items: center;
  justify-content: center;
  justify-self: end;
  height: 50px;
  border: 2px solid #fff;
  background-image: url("../../../images/add-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  border-radius: 2px;
  width: 150px;
  max-width: 150px;
  margin-left: auto;

}

@media (hover:hover) {
  .profile__btn-add:hover {
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media screen and (max-width: 980px) {
  .profile__btn-add {
    width: 100%;
    max-width: 282px;
    margin: 0 auto;
    background-size: 16px 16px;
  }
}
